.tip-amount-wrapper, .total-amount-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5em 1em 4em 1em;
  align-items: center;
}

.amount-label {
  color: white;
  font-size: .9em;
}

.dollar-amount {
  margin: 0;
  color: hsl(172, 67%, 45%);
  font-size: 2.6em;
}

.per-person {
  font-size: .8em;
}

.reset-button-wrapper {
  display: flex;
  height: 5em;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.reset {
  height: 55%; 
  width: 80%; 
  max-width: 20em;
  background-color: #0d686d;
  border: none;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 1em;
  color: #00474a;
}

.reset:hover {
  cursor: pointer;
  background-color: #9fe8df;
}

@media (max-width: 600px) {
  .tip-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 35%;
  }


  .tip-amount-wrapper {
    margin: 1.5em 0.5em 0.25em 0.5em;
  }

  .total-amount-wrapper {
    margin: 0.5em 0.5em 0.25em 0.5em;
  }

  .reset-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reset {
    max-width: 20em; 
    background-color: #0d686d;
    border: none;
    border-radius: 5px;
  }
}
