.tip-amount-wrapper,
.total-amount-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5em 1em 3em 1em;
}

.amount-label {
  color: white;
}

.dollar-amount {
  color: hsl(172, 67%, 45%);
}

.reset-button-wrapper {
  display: flex;
  height: 5em;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.reset {
  height: 3em;
  width: 22em;
  background-color: #0d686d;
  border: none;
  border-radius: 5px;
}

.reset:hover {
  cursor: pointer;
  background-color: #9FE8DF;
}