/* #root {
margin: 0;
} */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  display: flex;
  border: solid red 1px;
  justify-content: center;
  margin: 7em 0em 4.5em 0em
}

.calculator-wrapper {
  height: 27em;
  width: 50em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

h1 {
  color: black;
}

.bill-wrapper {
  height: 90%;
  width: 45%;
  border: solid green 1px;

}

.tip-wrapper {
  height: 90%;
  width: 45%;
  background-color: #00474A;
  border-radius: 12px;
}