.bill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.button {
  height: 2.1em;
  width: 5.2em;
  background-color: #00474a;
  color: white;
  border: none;
  border-radius: 7px;
  margin: 0.25em;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 1.2em;
}


/* Apply background color when button is clicked */
.button.clicked {
  background-color: #9fe8df;
  color:#003d41;
}

/* Apply original background color when button is not clicked */
.button.active {
  background-color: #00474a;
}

/* Apply hover effect on active state */
.button.active:hover {
  background-color: #003d41;
}

.form-bill-input {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.bill-input-wrapper {
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.tip-percent-wrapper {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  width: 95%;
}

.custom-tip {
  background-color: hsl(189, 41%, 97%);
  height: 2.1em;
  width: 5.2em;
  border: none;
  border-radius: 7px;
  margin: 0.25em;
  color: hsl(183, 100%, 15%);
  padding: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  outline: none; 
}

.custom-tip:focus,
.input-field:focus {
  box-shadow: 0 0 0 2px hsl(172, 67%, 45%);
}

.custom-tip::placeholder {
  color: hsl(186, 37%, 28%);
}

.num-of-people-wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.num-people-label {
  font-size: .9em;
  color: hsl(186, 14%, 43%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: .25em;
}

.tip-percent-label {
  display: block; /* Change to block */
  margin-bottom: 0.5em; /* Add margin-bottom for spacing */
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.5em;
}

.input-field {
  background-color: hsl(189, 41%, 97%);
  height: 2.2em;
  width: 100%;
  text-align: right;
  border-radius: 5px;
  border: none;
  font-size: 1.2em;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: hsl(184, 14%, 56%);
  outline: none; 
}

.input-field::placeholder {
  color: hsl(184, 14%, 56%);
}

.input-with-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust this value as needed */
  transform: translateY(-50%);
}

.bill-label,
.tip-percent-label {
  color: hsl(186, 14%, 43%);
  font-size: .9em;
  margin: .25em 0em .25em 0em;
}

.error-zero {
  color: rgb(206, 79, 0);
  margin: 0;
}

@media (max-width: 950px) {
  .tip-percent-wrapper {
    margin: .7em 0em .7em 0em;
  }
}

@media (max-width: 600px) {
  .form-bill-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .bill-wrapper {
    height: 50%;
    width: 90%;
  }
  .bill-input-wrapper {
    margin: 1.25em 0.25em 1.5em 0.25em;
  }

  .tip-percent-wrapper {
    margin: 0.5em 0.25em 1.5em 0.25em;
  }

  .num-of-people-wrapper {
    margin: 0;
  }
}
