.bill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button,
.custom-tip {
  height: 3em;
  width: 7em;
  background-color: #00474a;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 0.25em;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

/* .button:focus {
  color: #00474a;
} */

/* Apply background color when button is clicked */
.button.clicked {
  background-color: #9fe8df;
}

/* Apply original background color when button is not clicked */
.button.active {
  background-color: #00474a;
}

/* Apply hover effect on active state */
.button.active:hover {
  background-color: #003d41;
}

.form-bill-input {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.bill-input-wrapper {
  display: flex;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
  /* border: solid rgb(249, 192, 255) 1px; */
}

.tip-percent-wrapper {
  margin-top: 2.5em;
  margin-bottom: 1.2em;
  width: 95%;
  /* border: solid green 1px; */
}

.num-of-people-wrapper {
  display: flex;
  flex-direction: column;
  /* border: solid blueviolet 1px; */
  width: 95%;
  margin-top: 1.5em;
}

.tip-percent-label {
  display: block; /* Change to block */
  margin-bottom: 0.5em; /* Add margin-bottom for spacing */
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.5em;
}

.input-field {
  background-color: hsl(189, 41%, 97%);
  color: black;
  height: 2.5em;
  width: 100%;
  text-align: right;
  border-radius: 5px;
  border: none;
}

.input-with-icon {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust this value as needed */
  transform: translateY(-50%);
}

.bill-label,
.tip-percent-label,
.num-people-label {
  color: black;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .form-bill-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .bill-wrapper {
    height: 50%;
    width: 90%;
  }
  .bill-input-wrapper {
    margin: 1.25em 0.25em 1.5em 0.25em;
    /* border: solid rgb(249, 192, 255) 1px; */
  }

  .tip-percent-wrapper {
    margin: 0.5em 0.25em 1.5em 0.25em;
  }

  .num-of-people-wrapper {
    margin: 0;
  }
}
